<style>
    .col-sm-3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .img-holder{
    max-width: 400px;
    height: 200px;
    }
    .img-circle {
    height: 100%;
    border-radius: 100%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    
    body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    align-items: start;
    cursor: pointer;
}

/* Style the buttons inside the tab */
/*div.tab button {*/
/*    background-color: inherit;*/
/*    float: left;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    padding: 14px 16px;*/
/*    transition: 0.3s;*/
/*    font-size: 17px;*/
/*}*/

/* Change background color of buttons on hover */

/* Create an active/current tablink class */
div.tab a.active {
    color: #F55F4C;
}

.pb-0{
      color:black;
      font-size : 16px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

    
</style>

<!--소메뉴 nav바-->
<div class="container font mt-2 d-flex justify-content-start">
    <div class="col-md-6 " id="flex-style">
        <div class="tab row">
          <a class="navbar-brand pb-0 tablinks" onclick="openCity(event, 'All')">All</a>
          <a class="navbar-brand pb-0 tablinks" onclick="openCity(event, 'Composer')">Composer</a>
          <a class="navbar-brand pb-0 tablinks" onclick="openCity(event, 'Lyricist')">Lyricist</a>
          <a class="navbar-brand pb-0 tablinks" onclick="openCity(event, 'Singer')">Singer</a>
        </div>
            
        <div  class="customStyle">
            <input type="search" name="search" class="custom-search form-control" placeholder = " search" />
            <input type="button" class="search2">
        </div>
    </div>
    <div class="ml-auto">
                <a href="/shows/new">
                    <button class="btn mr-5">새 글 쓰기</button>
                </a>
    </div>
</div>
<div class="container mt-0"><hr/></div>


<div id="All" class="tabcontent ready" >
   <div class="container" >
        <div class="row">
            <% @show.each do |s| %>
                <div class="col-6 col-sm-3 img-holder mb-5 img"> <p class="text-center title"><%= s.title %></p>
                <% if s.user.avatar %>
                    <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                        <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="<%= s.user.avatar.url %>"></a>
                        <p class="text-center"><%= s.user.name %></p> 
                    </div>
                <% else %>
                    <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                        <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="assets/logo-03.png"></a>
                        <p class="text-center"><%= s.user.name %></p> 
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div id="Composer" class="tabcontent">
  <div class="container">
        <div class="row">
            <% @show.each do |s| %>
                <% if s.group == '작곡가' %>
                    <div class="col-6 col-sm-3 img-holder mb-5 img"> <p class="text-center title"><%= s.title %></p>
                    <% if s.user.avatar %>
                        <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                            <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="<%= s.user.avatar.url %>"></a>
                            <p class="text-center"><%= s.user.name %></p> 
                        </div>
                    <% else %>
                        <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                            <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="assets/logo-03.png"></a>
                            <p class="text-center"><%= s.user.name %></p> 
                        </div>
                    <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div id="Lyricist" class="tabcontent">
  <div class="container">
        <div class="row">
            <% @show.each do |s| %>
                <% if s.group == '작사가' %>
                    <div class="col-6 col-sm-3 img-holder mb-5 img"> <p class="text-center title"><%= s.title %></p>
                    <% if s.user.avatar %>
                        <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                            <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="<%= s.user.avatar.url %>"></a>
                            <p class="text-center"><%= s.user.name %></p> 
                        </div>
                    <% else %>
                        <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                            <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="assets/logo-03.png"></a>
                            <p class="text-center"><%= s.user.name %></p> 
                        </div>
                    <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div id="Singer" class="tabcontent">
  <div class="container">
        <div class="row">
            <% @show.each do |s| %>
                <% if s.group == '가수' %>
                    <div class="col-6 col-sm-3 img-holder mb-5 img"> <p class="text-center title"><%= s.title %></p>
                    <% if s.user.avatar %>
                        <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                            <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="<%= s.user.avatar.url %>"></a>
                            <p class="text-center"><%= s.user.name %></p> 
                        </div>
                    <% else %>
                        <div class="col-6 col-sm-3  img-holder mb-5 img"> 
                            <a href="/shows/<%= s.id %>"><img class="img-circle ml-4" src="assets/logo-03.png"></a>
                            <p class="text-center"><%= s.user.name %></p> 
                        </div>
                    <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>


<%#= paginate @show%>



<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    evt.currentTarget.className += " active";
}

$("document").ready(function(){
    $(".ready").show();
});
</script>
     